<%- include('../components/header.ejs') %>
<div class="card mb-3" style="padding: 15px; margin-bottom: 0px;">
  <table class="table" id="table">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Oda/Masa Adı</th>
              <th>Kaç Kişilik</th>
              <th>Kaç Kere Rezerve Edildi</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <% data.forEach(function(room) { %>
              <tr>
                <td><%= room.id %></td>
                <td><%= room.name %></td>
                <td><%= room.capacity %></td>
                <td><%= room.reservation_count %></td>
                <td class="gap-1" style="white-space: nowrap;">
                  <a href="/room_cancel/<%= room.id %>"><i class="bx bx-trash me-1"></i></a>
                </td>
              </tr>
            <% }); %>
          </tbody>
    </table>
</div>
<%- include('../components/footer.ejs') %>